@import '../../../sass/typography';

.container {
  max-width: 39.1875rem; // 627px;
  width: 100%;
  margin: 0 auto;
  padding-top: 3.8125rem; //61px;
  padding-bottom: 3.8125rem; //61px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__button {
    position: absolute;
    top: 1.5625rem; //25px;
    left: 1rem; //16px;
    border: none;
    background-color: #ffffff;
    display: none;
    cursor: pointer;

    &--show {
      display: inline-block;
    }

    &--done {
      svg {
        path {
          fill-opacity: 1;
        }
      }
    }
  }

  &__input {
    & input {
      width: 100%;
      height: 4.0625rem; //65px;
      outline: none;
      border: none;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      //   0px 4px 4px rgba(0, 0, 0, 0.25);

      font-size: 1.5rem; //24px;
      font-weight: 300;

      // padding: 18px 0 18px 61px;
      padding: 1.125rem 0 1.125rem 3.8125rem;

      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
        font-style: italic;
      }
    }
  }

  &__todos {
    list-style-type: none;
    font-size: 1.5rem; //24px;
    font-weight: 300;
    display: none;
    visibility: hidden;

    &--show {
      display: block;
      visibility: visible;
    }
  }

  &__todo {
    height: 4.0625rem; //65px;
    // padding: 18px 0 18px 61px;
    padding: 1.125rem 0 1.125rem 3.8125rem;
    position: relative;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #ffffff;
    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.03));

    &--done {
      color: rgba(0, 0, 0, 0.35);
      text-decoration-line: line-through;
    }
  }

  &__checkbox {
    position: absolute;
    width: 1.8125rem; // 29px;
    height: 1.75rem; //28px;
    top: 1.1875rem; //19px;
    left: 1rem; //16px;
    cursor: pointer;

    border: 2px solid #dfdfdf;
    box-sizing: border-box;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    &--done {
      border: 2px solid #2cda00;
    }
  }

  &__checkmark {
  }

  &__delete {
    display: none;
    position: absolute;
    top: 1.125rem; //18px;
    right: 1rem; //16px;
    font-feature-settings: 'liga' off;
    cursor: pointer;
  }

  /*
    Hover effect affecting delete button
  */
  &__todo:hover &__delete {
    display: inline-block;
  }

  &__footer {
    display: flex;
    height: 3.6875rem; //59px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    // padding: 21px 23px 21px 16px;
    padding: 1.3125rem 1.4375rem 1.3125rem 1rem;
    font-weight: 200;
    font-size: 0.875rem; //14px;

    button {
      background-color: #ffffff;
      outline: none;

      cursor: pointer;
    }
  }

  &__itemCount {
  }

  &__tabs {
    display: flex;
    align-items: center;

    & * {
      text-transform: capitalize;
      &:not(:last-child) {
        margin-right: 1.375rem; //22px;
      }
    }
  }

  &__tab {
    border: none;
    padding: 3px 7px;

    &--active {
      border: 1px solid #000000;
      border-radius: 2px;
    }
  }

  &__clearCompleted {
    border: none;
    visibility: hidden;
    text-transform: capitalize;

    &--show {
      visibility: visible;
    }
  }
}
